<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

<div class="barra-fundo">
    <div class="redes-sociais">
        <span class="texto" id="visite">Visite-nos nas nossas redes sociais!</span>

        <a href="#" class="link">
            <img src="./images/facebook-clean.png" id="icone-facebook" />
        </a>
        <a href="#" class="link">
            <img src="./images/instagram-clean.png" id="icone-instagram" />
        </a>
        <a href="#" class="link">
            <img src="./images/youtube-clean.png" id="icone-youtube" />
        </a>
    </div>

    <div class="apoio-cliente">
        <span class="texto" id="contacte">Entre em contacto connosco em</span> 

        <div class="contacto-email">
            <a href="#" class="link">
                <img src="./images/email-clean.png" id="icone-email" />
            </a>
            <a href="#" class="texto link" id="email">apoiocliente@leigolandia.com</a>
        </div>
    </div>
</div>