body {
    overflow-x: hidden;
}

.pagina-principal {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.barra-topo {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.fundo-imagem {
    margin-top: 10rem;
    width: 100vw;
    height: 125vh;
    display: block;
}

.texto-principal {
    position: absolute;
    top: 0;
    margin-top: 12%;
    margin-left: 21%;
    text-align: center;
}

.mensagem {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: inline-block;
    font-size: 2.3rem;
}

#mensagem-secundaria {
    font-size: 1.2rem;
}

#link-visite {
    color: white;
    text-decoration: underline;
    transition: font-size 0.3s ease;
}

#link-visite:hover {
    font-size: 1.4rem;
}

.barra-fundo {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
}

.divisao {
    background: #14213d;
    width: 100%;
    height: 0.2rem;
}

.texto-leiloes-container {
    display: flex;
    flex-direction: column;
}

.container-texto {
    width: 100%;
    height: 5rem;
    background: #0D3B66;
    display: flex;
    align-items: center;
}

#texto-leiloes {
    color: white;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2rem;
}

.container-texto-adicional {
    display: flex;
    justify-content: center;
}

#texto-leiloes-adicional {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 2.5rem;
}

.pagina-leiloes {
    overflow: hidden;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 11rem;
}

.pagina-leiloes > * {
    margin-right: 6rem;
}

.pagina-leiloes > *:last-child {
    margin-right: 0;
}